@tailwind base;

/* Write your own custom base styles here */
h1 {
  @apply text-4xl md:text-6xl;
}

h2 {
  @apply text-2xl md:text-4xl;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

body {
  background: #ddd;
  font-family: 'Castoro', serif;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  opacity: 1;
  filter: brightness(70%);
}

.background.jk-35 {
  background-image: url("/img/JK-35.optim.jpg");
}

.background.jk-1 {
  background-image: url("/img/JK-1.optim.jpg");
}

.background.jk-2 {
  background-image: url("/img/JK-2.optim.jpg");
}

.background.jk-16 {
  background-image: url("/img/JK-16.optim.jpg");
}

.background.current {
  animation: fadein;
  animation-duration: 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  @apply px-12 py-3 bg-gray-700 text-white border-none inline-flex cursor-pointer;
}

.container {
  @apply w-full m-auto flex flex-col px-8 md:px-16 xl:justify-center 2xl:px-0 2xl:max-w-7xl ;
}

.card {
  @apply flex flex-col bg-white rounded shadow-2xl md:flex-row md:justify-between;
}

.card-body {
  @apply flex flex-col p-8;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

.hero {
  background-size: cover;
  background-position-y: bottom 0;
  overflow: hidden
}

.glow {
  text-shadow: 0 0 100px white, 0 0 100px white;
}

.dyn-ratio {
  aspect-ratio: attr(width) / attr(height);
}

@keyframes load {
  0% { width: 0; }
  100% { width: 60%; }
}

@keyframes loadFull {
  0% { width: 80%; }
  100% { width: 100%; display: none }
}