@tailwind base;

/* Write your own custom base styles here */
h1 {
  @apply text-4xl md:text-6xl;
}

h2 {
  @apply text-2xl md:text-4xl;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

body {
  background: #ddd;
  font-family: 'Castoro', serif;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  opacity: 1;
  filter: brightness(70%);
}

.background.jk-35 {
  background-image: url("/img/JK-35.optim.jpg");
}

.background.jk-1 {
  background-image: url("/img/JK-1.optim.jpg");
}

.background.jk-2 {
  background-image: url("/img/JK-2.optim.jpg");
}

.background.jk-16 {
  background-image: url("/img/JK-16.optim.jpg");
}

.background.current {
  animation: fadein;
  animation-duration: 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  @apply px-12 py-3 bg-gray-700 text-white border-none inline-flex cursor-pointer;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

.hero-img {
  background: url("/bg.jpg");
}

.section-img {
  background: url("/bg.jpg");
  background-attachment: fixed;
}

.hero {
  background-size: cover;
  background-position-y: bottom 0;
  overflow: hidden
}

.glow {
  text-shadow: 0 0 100px white, 0 0 100px white;
}

.dyn-ratio {
  aspect-ratio: attr(width) / attr(height);
}